{% extends 'base_eleicao.html' %}

{% load static %}

{% block links %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">

{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center" style="margin-top: 30px">

        <div class="row">

            <div class="col-4">
                <div id="card-cadastro" class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Cadastro Eleitoral</h5>
                        <p class="card-text">Aqui pode-se cadastrar tanto novas eleições como candidatos.</p>
                        <a href="#" class="btn btn-primary botao-menu">Cadastrar</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
            </div>

            <div class="col-4">

                <div class="card text-center" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}